SECRET_KEY=74fd24c05c21e91284578b33a74f3e4b341ef8c3d850f11a599b5f0ae868c903
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_DSN=postgresql+asyncpg://bbbuser:bbb@db:5432/bbb

BBB_SERVER_NAME=main
BBB_SERVER_URL=https://somebbbserverurl.com/api/
BBB_SECRET_KEY=12312831283129312983791
BBB_ATTENDEE_PW=attendeepw
BBB_MOD_PW=modpw

REDIS_DSN=redis://redis:6379/0